@font-face{
    font-family: "roboto";
    src: url("../fonts/roboto.ttf");
    font-weight: normal;
    font-style: normal;
}

html { 
    font-size: 16px; 
}

body{
    background-color: #f8f8f8;
    font-family: "roboto";
    margin: 0;
    padding: 0;
}

#global{
    width: 95%;
    margin: 0px auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #bfd1d3;
    border-radius: 2em;
    -webkit-box-shadow: 1px 5px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 15px 1px rgba(0,0,0,0.75);
}

.grid{
    display: grid;
    grid-template-areas:
                         "main main main sidebar"
                         "foot foot foot foot";
    grid-template-rows: 93% 6%;
    padding-top: 60px;
}

#head{
    background-color: #607D8B;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    left: 0;
    top: 0;
}

.wrapper{
    display: grid;
    grid-template-areas: "logo menu";
    grid-template-columns: repeat(2, 1fr);   
}

#logo{
    grid-area: logo;
    display: block;
}

#container{
    display: flex;
    flex-direction: row;
}

#img_logo{
    display: block;
    height: 40px;
    width: 40px;
    margin: 24px 35px 0px 50px;
}

#img_logo:hover{
    cursor: pointer;
    filter: opacity(0.7);
}

#headline{
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    margin-left: 1em;
    letter-spacing: 2px;
}

#headline:hover{
    color: #cfd8dc;
    font-weight: bold;
}

h1{
    font-size: 1.75rem;
}

#headline{
    margin-top: 6px;
}

#nav{
    grid-area: menu;
}

ul#menu{
   list-style: none;
}

ul#menu li{
    display: inline-block;
    margin: 24px 10px 0px 20px;
    letter-spacing: unset;
}

#menu li a{
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.125rem;
    margin-top: -8px;
    margin-left: 12px;
}

#menu li a:hover{
    color: #cfd8dc;
}

#idioma{
    border: 1px solid whitesmoke;
    padding: 0px 10px 0px 10px;;
}

#main{
    grid-area: main;
    background: #ffffff;
}

#main h2{
    margin-top: 1.5em;
    margin-left: 15px;
    text-align: center;
    color: #607D8B;
}

#cedula{
    text-decoration: none;
    color: #607D8B;
}

#main p{
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 1em;
}

.cursos{
    margin-top: 1em;
    margin-left: 15px;
    font-size: 1rem;
    
}

.cursos ul li{
    list-style-type: circle;
    margin-left: 1em;
}

.cursos_link a{
    text-decoration: none;
    margin-left: 1.2em;
    color: #7f9aa7;
}

.cursos ul{
    list-style: none;
    color: blanck;
}

.fecha_curso{
    text-decoration: none;
}

#sidebar{
    grid-area: sidebar;
    background: #eceff1;
    padding-top: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}

#h2_contactame{
    text-align: center;
    color: #607D8B;
    margin-top: 1.3em;
}

h3{
    color: #607D8B;
}

.item_form{
    margin: 5px;
    width: 250px;
}

#enviar_form{
    text-align: center;
}

#btn_enviar{
    padding: 0 16px;
    border-radius: 2px;
    background-color: #eceff1;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: black;
    transition: background-color 15ms linear,
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    height: 36px;
    line-height: 2.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0px auto;    
}

#btn_enviar:hover{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #607D8B;
    color: white;
}

label{
    display:flex;
    width: 80%;
}

#foot{
    background-color: #bfd1d3;
    grid-area: foot;
    border-radius: 0px 0px 2em 2em;
}

#nav_foot{
    display: flex;
    justify-content: center;
    background-color: #bfd1d3;
    border-radius: 0px 0px 2em 2em;
}

ul#menu_foot{
    list-style: none;
 }
 
 ul#menu_foot li{
     display: inline-block;
     align-items: center;
     margin-right: 30px;
     margin-left: 30px;
     letter-spacing: unset;
 }
 
 #menu_foot li a{
     display: block;
 }

.redes{
    height: 40px;
    width: 40px;
    color: #607D8B;
    margin-top: 2px;   
}

#logo_face:hover{
    filter: opacity(0.9);
}

#logo_linkedin:hover{
    filter: opacity(0.9);
}

#logo_github:hover{
    filter: opacity(0.9);
}

#logo_whats:hover{
    filter: opacity(0.9);
}

#p_foot{
    text-align: center;
    margin: 0px auto;
    background-color: #bfd1d3;
    font-size: 0.75rem;
    width: 50%;
}

@media only screen and (max-width: 1270px) {
    #menu li a{
        margin-left: 10px;
    }
  }

  @media only screen and (max-width: 1250px) {
    #menu li a{
        margin-left: 8px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1240px) {
    #menu li a{
        margin-left: 6px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1218px) {
    #menu li a{
        margin-left: 4px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1205px) {
    #menu li a{
        margin-left: 2px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1188px) {
    #menu li a{
        margin-left: 0px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1170px) {
    #menu li a{
        margin-left: -2px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1155px) {
    #menu li a{
        margin-left: -4px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1140px) {
    #menu li a{
        margin-left: -6px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1122px) {
    #menu li a{
        margin-left: -8px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1108px) {
    #menu li a{
        margin-left: -10px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1090px) {
    #menu li a{
        margin-left: -12px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1075px) {
    #menu li a{
        margin-left: -14px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1060px) {
    #menu li a{
        margin-left: -16px;
    }
  }

  @media only screen and (max-width: 1042px) {
    #menu li a{
        margin-left: -18px;
    }
  }

  @media only screen and (max-width: 1026px) {
    #menu li a{
        margin-left: -20px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 1010px) {
    #menu li a{
        margin-left: -22px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 995px) {
    #menu li a{
        margin-left: -24px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
  }

  @media only screen and (max-width: 978px) {
    html { 
        font-size: 15px; 
    }
    #menu li a{
        margin-left: -24px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
    #head {
        padding: 1px;
    }
    #p_foot {
        width: 58%;
    }
  }

  @media only screen and (max-width: 928px) {
    html { 
        font-size: 14px; 
    }
    
    #menu li a{
        margin-left: -24px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
    #head {
        padding: 3px;
    }
  }
  
  @media only screen and (max-width: 878px) {
    html { 
        font-size: 12px; 
    }
    
    #menu li a{
        margin-left: -24px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
    #head {
        padding: 5px;
    }
    #p_foot {
        width: 65%;
    }
  }

  @media only screen and (max-width: 776px) {
    html { 
        font-size: 12px; 
    }
    
    #menu li a{
        margin-left: -26px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
    #head {
        padding: 5px;
    }
  }

@media only screen and (max-width: 760px) {
    html { 
        font-size: 11px; 
    }
    
    #menu li a{
        margin-left: -26px;
    }
    #headline {
        margin-left: -0.5em;
        letter-spacing: 1px;
    }
    #head {
        padding: 5px;
    }
    }
