body{
    background-color: #cfd8dc;
}

#global{
    width: 97%;
    margin: 0px auto;
    margin-top: 30px;
    background-color: #f4f4f4;
    min-height: 400px;
}

.grid{
    display: grid;
    grid-template-areas: "head head head head"
                         "main main main sidebar"
                         "foot foot foot foot";
    grid-template-rows: repeat(4, 1fr);
}

#head{
    background: #9ea7aa;
    align-items: center;
    grid-area: head;
}

ul#menu{
   list-style: none;
}

ul#menu li{
    display: inline-block;
}

#menu li a{
    text-decoration: none;
}

#main{
    grid-area: main;
    background: red;
}

#sidebar{
    grid-area: sidebar;
    background: yellow;
}

#foot{
    background-color: black;
    color: blanchedalmond;
    grid-area: foot;
}