@font-face{
    font-family: "roboto";
    src: url("../fonts/roboto.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #f8f8f8;
    font-family: "roboto";
}

#global{
    width: 95%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f4f4f4;
    min-height: 400px;
    border: 0px solid #cfd8dc;
    border-radius: 2em;
    -webkit-box-shadow: 0px 15px 48px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 48px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 48px -5px rgba(0,0,0,0.75);
}

.grid{
    display: grid;
    grid-template-areas: "head head head head"
                         "main main main sidebar"
                         "foot foot foot foot";
    grid-template-rows: 15% 69% 15%;
}

#head{
    grid-area: head;
    background-color: #607D8B;
    border-radius: 2em 2em 0px 0px;
}

.wrapper{
    display: grid;
    grid-template-areas: "logo menu";
    grid-template-columns: repeat(2, 1fr);   
}

#logo{
    grid-area: logo;
    display: block;
}

#container{
    display: flex;
    flex-direction: row;
}

#img_logo{
    display: block;
    height: 40px;
    width: 40px;
    margin: 30px 35px 0px 35px
}

#img_logo:hover{
    cursor: pointer;
    filter: opacity(0.7);
}

#headline{
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    margin-left: 20px;
}

#headline:hover{
    color: #cfd8dc;
    font-weight: bold;
}

h1{
    font-size: 28px;
}

#headline{
    margin-top: 10px;
}

#nav{
    grid-area: menu;
}

ul#menu{
   list-style: none;
}

ul#menu li{
    display: inline-block;
    margin: 24px 10px 0px 20px;
    letter-spacing: unset;
}

#menu li a{
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 17px;
}

#menu li a:hover{
    color: #cfd8dc;
}

#main{
    grid-area: main;
    background: #ffffff;
}

#main h2{
    margin-top: 1em;
    margin-left: 15px;
}

#main p{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#sidebar{
    grid-area: sidebar;
    background: #eceff1;
    padding-top: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}

#h2_contactame{
    text-align: center;
}

.item_form{
    margin: 5px;
}

#enviar_form{
    text-align: center;
}

#btn_enviar{
    padding: 0 16px;
    border-radius: 2px;
    background-color: #eceff1;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: black;
    transition: background-color 15ms linear,
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    height: 36px;
    line-height: 2.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0px auto;    
}

#btn_enviar:hover{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #607D8B;
    color: white;
}

label{
    display:flex;
    width: 80%;
}

#foot{
    background-color: #bfd1d3;
    color: blanchedalmond;
    grid-area: foot;
    border-radius: 0px 0px 2em 2em;
    border-bottom: 10px;
}

#nav_foot{
    display: flex;
    justify-content: center;
}

ul#menu_foot{
    list-style: none;
 }
 
 ul#menu_foot li{
     display: inline-block;
     align-items: center;
     margin-right: 30px;
     margin-left: 30px;
     letter-spacing: unset;
 }
 
 #menu_foot li a{
     display: block;
 }

.redes{
    height: 40px;
    width: 40px;
    color: #607D8B;
    margin-top: 2px;   
}

#logo_face:hover{
    filter: opacity(0.9);
}

#logo_linkedin:hover{
    filter: opacity(0.9);
}

#logo_github:hover{
    filter: opacity(0.9);
}

#logo_whats:hover{
    filter: opacity(0.9);
}

span{
    color: black;
    font-size: 12px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

#p_foot{
    background-color: #bfd1d3;
}
